.App {
  background-color: black;
}

@keyframes cardspawn {
  
  from{bottom: -50px;}
  to{bottom: 0px;}
}
.card {
  display: flex;
  position: relative;
  width: 120px;
  height: 200px;
  border-radius: 10%;
  background: black;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  transition:2s;
  animation-name: cardspawn;
  animation-duration: 2s;

}
.card:hover {
  bottom: 100px;
  
}
.OrganizeCards {
  display: flex;
  flex-direction: row;
  gap: 2px;
  
}
footer {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  top: 80vh;
  width: 100%;
  transition: top 1s;
}
.CanvasS{
  background-color: black;
  position:absolute;
  width: 100vw;
  height: 100vh;
}
.CanvasCard{
  position: absolute;
  width: 100vw;
  height: 100vh;
}


.overLayer{
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  

}
.MainOver{
  position: absolute;
  width: 30%;
  height: 50%;
  background-color: blue;
}
@media screen {
  
}
@media (width < 688px) {
  .CanvasS {
    
  }
  
}