.card {
  display: flex;
  position: relative;
  width: 120px;
  height: 200px;
  border-radius: 10%;
  background: black;
  
  bottom: 0px;
  transition:2s;

}
.card:hover {
  bottom: 100px;
  
}
.OrganizeCards {
  display: flex;
  flex-direction: row;
  gap: 0px;
  
}
footer {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  top: 80vh;
  width: 100%;
  transition: top 1s;
}