@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Signika:wght@300..700&family=Staatliches&family=Workbench&display=swap');

.App {
  background-color: black;
}

@keyframes cardspawn {
  
  from{bottom: -50px;}
  to{bottom: 0px;}
}
.card {
  display: flex;
  position: relative;
  width: 120px;
  height: 200px;
  border-radius: 10%;
  background: black;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  transition:2s;
  animation-name: cardspawn;
  animation-duration: 2s;

}
.card:hover {
  bottom: 100px;
  
}
.OrganizeCards {
  display: flex;
  flex-direction: row;
  gap: 2px;
  
}
footer {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  top: 80vh;
  width: 100%;
  transition: top 1s;
}
.CanvasS{
  background-color: black;
  position:absolute;
  width: 100vw;
  height: 100vh;
}
.CanvasCard{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@keyframes OnOver {
  from{opacity: 0;}
  to{opacity: 0.5;}
  
}
.overLayer{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  transition: 2s;
  animation-name: OnOver;
  animation-duration: 1s;
  
}
@keyframes hidee {
  from{opacity: 1;}
  to{opacity: 0;display: none;
  }
  
}
.hidden {
  transition: 2s;
  animation-name: hidee;
  animation-duration: 2s;
  display: none;

  
}

.MainOver{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60%;
  
 
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.178);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.ButJogar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.1rem;
width: 150px;
height: 80px;
color: rgb(255, 255, 255);
font-family: "Workbench", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
  "BLED" 0,
  "SCAN" 0;
  cursor: pointer;
transition: 1s;
}
.ButJogar:hover{
  font-size: 3.3rem;
}


.overLayerEND {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  transition: 2s;
  animation-name: OnOver;
  animation-duration: 1s;

}
.show {
  display: flex;
}
.MainOverEND {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  
 
  border-radius: 40px;
  background: rgba(223, 18, 18, 0.178);
  box-shadow: 0 8px 32px 0 rgba(247, 9, 9, 0.37);
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  
  border: 1px solid rgba(241, 30, 30, 0.18);
}
.mainSideDeler {
  display: flex;
  position: relative;
  
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.mainSidePlayer {
  display: flex; 
  position: relative;
  flex-direction: column;
  justify-content: center;
 
  gap: 30px;

  justify-content: center;
  width: 50%;
  height: 100%;
}
.winner{
  background: rgba(72, 255, 0, 0.589);
  box-shadow: 0 8px 32px 0 rgba(0, 255, 13, 0.37);
  backdrop-filter: blur( 10.5px );
border-radius: 40px;}

.h1deler{
  font-size: 3.4rem;
color: rgb(255, 27, 27);
font-family: "Workbench", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-variation-settings:
  "BLED" 0,
  "SCAN" 0;
}
.topMainEnd{
  display: flex;
  
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.h1player{

  font-size: 3.4rem;
color: rgb(255, 255, 255);
font-family: "Workbench", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-variation-settings:
  "BLED" 0,
  "SCAN" 0;
}
.h1Pts {

  
  font-size: 3.9rem;
 
  border-color: black;
color: rgb(255, 115, 0);
font-family: "Workbench", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-variation-settings:
  "BLED" 0,
  "SCAN" 0;

}
.Result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 100px;
  position: absolute;
  top: 20vh;
 border-radius: 30px;


}
.pointer:hover {
  cursor: pointer;
}
.credits {
  
  position: absolute;
  font-size: 0.7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  opacity: 0.7;
  top: 0px;
  left: 1px;
  cursor: pointer;
}
@keyframes make21 {
  0%{opacity: 0;
    top: 69vh;}
  20%{opacity: 1;
    top: 68vh;}
  
}
@keyframes make21txt {
  0%{opacity: 0.5;}
  50%{opacity: 1;}
  100%{opacity: 0.5;}
 
  
}
.overLayer21 {
  position: absolute;
 justify-content: center;
 align-items: center;
 animation-name: make21;
 animation-duration: 4s;
 transition: 2s;
  left: 31.5vw;
  top: 68vh;
  width: 500px;
  height: 50px;
  border-radius: 20px;
  background: rgba(253, 108, 4, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(255, 189, 7, 0.137);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 106, 0, 0.15);
}
.overLayer21Txt {
  animation-name: make21txt;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transition: 2s;
font-size: 2.5rem;
color: rgba(255, 255, 255, 0.774);
font-family: "Workbench", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-variation-settings:
  "BLED" 0,
  "SCAN" 0;


}


@media (width < 600px) {
 
  .OnlyPC{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;align-items: center;
    background-color: black;
    color: azure;
    font-size: 3rem;
   }
}